@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    margin: 0;
    background-color: rgb(255, 121, 68);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
*{
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 600;
}
.main-container{
    background-color: rgb(60, 130, 177);
    padding: 40px;
    border-radius: .2rem;
    min-height: 300px;
    width: 700px;
    max-width: 70%;
    position: relative;
    color: white;
    border: 3px solid black;
}
.random-quote{
    margin-right: calc(2px + 1rem);
    margin-left: calc(2px + 1rem);
    user-select: none;
}
.quote-input{
    border-radius: .2rem;
    width: 100%;
    min-height: 200px;
    margin-top: 50px;
    padding: 1rem;
    outline: none;
    color: white;
    border: 2px solid rgb(25, 66, 94);
    background-color: rgb(42, 96, 142);
    resize: none;
    font-size: 1rem;
}

.timer{
    position: absolute;
    top: 5%;
    color: white;
    font-size: 5rem;
}
.correct{
    color: rgb(68, 255, 68);
}
.incorrect{
    color: red;
    text-decoration: underline;
}
.wpm{
    font-size: 3rem;
    position: absolute;
    top: 5%;
    right: 10%;
    color: white;
}
.hide{
    display: none;
}
.next-quote{
    border: 2px solid rgb(25, 66, 94);
    border-radius: .5rem;
    background-color: rgb(60, 130, 177);
    min-height: 300px;
    width: 500px;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    color: white;
    background-color: black;
    border: 2px solid white;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: .5rem;
    cursor: pointer;
}

.last-wpm{
    color:#fff;
    position: absolute;
    top: 10%;
    font-size: 3rem;
}